.media-info {
    width: 400px;
    margin-left: 50px;
}

.media-info li {
    list-style: none;
    font-size: 1.4em;
}

.media-info li a {
    color: #fff;
    text-decoration: none;
}

.media-info li:not(:last-child){
    margin-bottom: 50px;
}

.media-info li:nth-child(1), .media-info li:nth-child(5){
    padding-left: 100px;
}

.media-info li:nth-child(2), .media-info li:nth-child(4){
    padding-left: 50px;
}