
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: #fff;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title{
    font-size: 4em;
    margin-bottom: 50px;
}

.content {
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .image {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;   
}

.content .image img {
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.content .text-box {
    z-index: 222;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transform: translate(-80px,50px);
}

.content .text-box h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

.media-icons {
    margin-top: 100px;
}

.media-icons a{
    color: #fff;
    font-size: 2em;
    margin: 60px;
}

@media screen and (max-width: 900px) {
    
    section{
        padding: 10px;
    }
    
    .main-title{
        font-size: 1.5em;
    }

    .content{
        flex-direction: column;
        width: 400px;
        gap: 24px;
    }

    .content .image{
        width: 300px;
    }

    .content .text-box{
        width: 300px;
        height: auto;
        transform: translate(0px,0px);
        margin-left: 0px;
    }

    .content .text-box h3 {
        font-size: .9em;
    }

    .media-icons {
        margin-top: 50px;
        display: flex;
    }
    
    .media-icons a{
        color: #fff;
        font-size: 1.5em;
        margin: 16px;
    }
}